[defaults]
# Inventory file
inventory = ./inventory.yml
collections_paths = ./collections

# Path to roles
roles_path = ./roles

# Verbosity level
log_path = ansible.log
stdout_callback = ansible.builtin.default
result_format = yaml

# SSH settings
remote_user = sferris
#private_key_file = /path/to/private/key

# Other settings
#ansible_python_interpreter = /usr/bin/python3
host_key_checking = False
retry_files_enabled = False
forks = 10

[privilege_escalation]
become = True
become_method = sudo
become_user = root

[ssh_connection]
pipelining = True
retries = 5
timeout = 10

[accelerate]
accelerate_timeout = 30
accelerate_connect_timeout = 5.0
accelerate_daemon_timeout = 30
accelerate_port = 5099
accelerate_use_sudo = True
accelerate_ipv6 = False

